fastapi
uvicorn
sqlmodel
pydantic
openai
azure-identity
azure-keyvault-secrets
python-dotenv
starlette
typing-extensions
python-multipart
email-validator
aiohttp
aiosignal
async-timeout
bcrypt
cffi
cryptography
frozenlist
idna
jose
multidict
pycparser
python-jose
rsa
six
yarl